*.swp
lib-cov
*.seed
*.csv
*.log
*.dat
*.out
*.pid
*.gz

client/app
client/vendor
client/config.coffee
client/package.json
!client/public
server
!build/server
tests
server.coffee
.editorconfig
.tx
.travis.yml
Cakefile
coffeelint.json
