@font-face {
  font-family: main;
  src: url("signika-regular.ttf");
}
@font-face {
  font-family: styled;
  src: url("maven-pro-light-200.otf");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
h1,
p {
  box-sizing: border-box;
}
body {
  background: #f4f4f4;
  font-family: main;
}
h1,
h2,
h3 {
  font-family: styled;
}
h1 {
  margin-top: 65px;
  border-bottom: 1px solid #ccc;
}
h2 {
  margin-top: 50px;
  background: #77a;
  font-size: 26px;
}
h2.tab {
  display: inline-block;
  border-radius: 0;
  border-right: 1px solid #fff;
}
h2.tab.selected,
h2.tab:hover {
  background: #59598e;
}
.caldavconf,
.carddavconf {
  display: block;
}
.caldavconf ~ .caldavconf,
.carddavconf ~ .carddavconf {
  display: none;
}
h3 {
  margin-top: 30px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
h2,
.url {
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}
#content {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background: #fbfbfb;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
button {
  cursor: pointer;
  border: 1px solid #34a6ff;
  background: #34a6ff;
  color: #fff;
  box-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  border-radius: 5px;
  font-family: main;
  padding: 3px;
}
button:hover {
  background: #fe8800;
  border: 1px solid #fe8800;
  color: #fff;
}
button:active {
  background: #f68400;
  border: 1px solid #fe8800;
  -moz-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  color: #fff;
}
.url {
  background: #7a7;
}
.credentials {
  font-weight: normal;
}
.credentials span {
  font-weight: bold;
}
