@font-face {
  font-family: main;
  src: url("/signika-regular.ttf");
}
@font-face {
  font-family: styled;
  src: url("/maven-pro-light-200.otf");
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
h1,
p {
  box-sizing: border-box;
}
body {
  background: #f4f4f4;
  font-family: main;
}
h1,
h2,
h3 {
  font-family: styled;
}
h2 {
  margin-top: 50px;
}
h3 {
  margin-top: 30px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#content {
  padding: 20px;
}
button {
  cursor: pointer;
  border: 1px solid #34a6ff;
  background: #34a6ff;
  color: #fff;
  box-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  border-radius: 0;
  font-family: main;
  font-weight: bold;
  padding: 5px;
}
button:hover {
  background: #fe8800;
  border: 1px solid #fe8800;
  color: #fff;
}
button:active {
  background: #f68400;
  border: 1px solid #fe8800;
  -moz-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  -webkit-box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  color: #fff;
}
